body {
  /* Center everything */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

.gameBoard {
  /* Create grid game board to be 10 by 10 */
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
  position: relative;
}

.tile {
  /* Tile size and color */
  width: 50px;
  height: 50px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.player {
  /* Design the P text sindei player element */
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  /* Position it so its in the grid */
  position: absolute;
  /* Gains priority over everything */
  z-index: 100;
}
