body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
}

.tile {
  width: 50px;
  height: 50px;
  background-color: white;

  /* Center content */
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: bold;
}

.player {
  background-color: black;
  color: white;

  /* Ensure player above tile */
  z-index: 10;
  position: relative; /* So Z index takes effect */
}
